

<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <label for="question" class="form-label">Ask anything to your coach</label>
    <div class="input-group mb-3">
      <input id="question" name="question" type="text" class="form-control" aria-label="As your code anything" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="submit" id="button-addon2">Ask</button>
    </div>
  </form>
</div>
